@font-face {
  font-family: whFontStyle;
  src: local(Heiti TC), local("微軟正黑體");
  /* no unicode-range; default to all characters */
}

/* Latin characters 專用 */
@font-face {
  font-family: whFontStyle; /* 同樣的 font-family */
  unicode-range: U+00-024F;  /* Latin, Latin1 Sup., Ext-A, Ext-B */
  src: local(Helvetica),     /* OS X preferred */
       local(Arial);         /* Other OS */
}

/* 注音符號專用 */
@font-face {
  font-family: whFontStyle;      /* 同樣的 font-family */
  unicode-range: U+3100-312F;     /* Bopomofo */
  src: local(LiHei Pro),          /* OS X */
       local("微軟正黑體"); /* Windows Vista+ */
}

/* 日文假名專用 */
@font-face {
  font-family: whFontStyle;            /* 同樣的 font-family */
  unicode-range: U+3040-30FF;           /* Hiragana, Katakana */
  src: local(Hiragino Kaku Gothic Pro), /* OS X */
       local(Meiryo);                   /* Windows Vista+ */
}

body {
  font-family: whFontStyle, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 100;
}

h1, .h1 {
    font-weight: 600;
}

h3
{
    letter-spacing:0.2em;
    width: auto;
    padding: .5em;
    padding-left: 0px;
    padding-bottom: 0.2em;
    padding-top: 0.8em;
    font-family: whFontStyle, sans-serif;
    font-weight: 100;
    text-align:left;
    line-height: 1.2em;
}

h4
{
    letter-spacing:0.1em;
    width: auto;
    padding: .5em;
    padding-left: 0px;
    font-family: whFontStyle, sans-serif;
    font-weight: 100;
    text-align:left;
}

body, th {
	font-family:  whFontStyle, sans-serif;
	
}

.container td
{
    font-size: 12pt;
	line-height: 16pt;
	letter-spacing:0.1em;
	font-family: whFontStyle, sans-serif;
    }

.container p
{
    font-size: 12pt;
	line-height: 16pt;
	letter-spacing:0.1em;
	font-family: whFontStyle, sans-serif;
	
	/* text-align:justify; */
    }
    
.container ol
{
    font-size: 12pt;
	line-height: 16pt;
	letter-spacing:0.1em;
	font-family: whFontStyle, sans-serif;
    }

blockquote {
padding: 10px 20px;
margin: 0 0 20px;
font-size: 12pt;
border-left: 0px solid #eee;
font-family: whFontStyle, sans-serif;
}
    
    